@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rock+Salt&display=swap');




.button {
    display: flex;
    margin-left: 2vw;
    cursor: pointer;
    background-color: white;
    border: none;
    align-items: center;
    border-radius: 2%;
}

.button:hover {
    box-shadow: 2px 2px 2px 2px;
    
}

.button:active {
    transform: translate(0px, 2px);
    box-shadow: 1px 1px 1px 1px;
}


.backBtnContainer {
    font-family: "Rock Salt", cursive;
    display: flex;
    align-items: center;
    
}

.backBtnContainer img {
    width: 50px;
    height: 50px;

}