.textEditor {
    margin-left: 10vw;
    margin-right:10vw;
    margin-top: 5vh;
}

.titleContainer {
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
}

.titleTextAreaContainer {
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
}

.titleTextArea {
    width: 30vw;
}



.submitButton {
    width: 5vw;
    margin-left: 47.5vw;
    margin-bottom: 50px;

}